html, body {
	margin: 0px;
	height:100%;
}

body {
    //display: flex;
    justify-content: center;
    align-items: center;
}

/*
@media only screen and (orientation:landscape) {
	body {
		width: 50vw;
		transform: rotate(-90deg);
	}
}
*/

#contenedorPrincipal {
	display: grid;
    width: 100%;
    height: 100%;
}

#contenedorPrincipal2 {
	display: none;
    width: 100%;
    height: 100%;
}

@media only screen and (orientation:landscape){
  #contenedorPrincipal2{ display:grid; }
  #contenedorPrincipal{ display:none; }
}

@media only screen and (orientation:portrait){
  #contenedorPrincipal2{ display:none; }
  #contenedorPrincipal{ display:grid; }
}

#contenedorMenu {
	display: block;
  text-align: center;
}

.textos {
font-size:5vw;
}

.btn-modo3, .btn-modo5, .btn-creditos, .btn-menuPrincipal, .btn-reglas, .btn-puntajes {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:6vw;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.btn-modo3{
  background-color: #4CAF50;
}

.btn-modo5{
  background-color: #AF4C50;
}

.btn-creditos{
  background-color: #5050AF;
}

.btn-menuPrincipal{
  background-color: #505050;
}

.btn-reglas{
  background-color: #505050;
}

.btn-puntajes{
  background-color: #505050;
}

#contenedorReglas {
	text-align: center;
}

#contenedorCreditos {
	text-align: center;
}


#contenedorPuntajes {
	text-align: center;
}



#areaJuego {
  background-color: #0FF000;
  height: 100%;
  width: 100%;
}

canvas {
	border: 0px solid;
	float: left;
}

.areaControles {
  background-color: #888888;
  width: 100%;
  height: 100%;
	background-image: linear-gradient(180deg, grey, black);
}

.areaControles2 {
  background-color: #888888;
  width: 100%;
  height: 100%;
	background-image: linear-gradient(0deg, grey, black);
}

.botonera3 {
display: grid;
position: relative;
height: 100%;
grid-gap: 20%;
}

.botonera5 {
display: grid;
grid-gap: 0%;
position: relative;
height: 100%;
}

.botoneraPausa {
display: none;
position: relative;
height: 100%;
grid-gap: 20%;
}

.botoneraObjetivo {
display: none;
position: relative;
height: 100%;
grid-gap: 20%;
}

.img-piedra, .img-papel, .img-tijeras, .img-lagarto, .img-spock {
  background: url("sprites.png");
  //background: url("botones.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 500%;
}

.img-pausa-salir, .img-pausa-reiniciar {
  background: url("pausa.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 200%;
}

.img-objetivo-ganar, .img-objetivo-empatar, .img-objetivo-perder {
  background: url("metas.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.teclasPC {
  position: fixed;
  font-size: 4vw;
	font-weight: bold;
	padding-left: 2%;
	padding-top: 2%;
	color: black;
	text-shadow: 0px 0px 4px white;
}

table {
  border-collapse: collapse;
  width: 95%;
	margin-left: 2.5%;
}

th, td {
  text-align: left;
  padding: 8px;
}

.trGris {
	background-color: #f2f2f2;
}

th {
  background-color: #4CAF50;
  color: white;
}
